.recovery{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 55vh;
    border-radius: .5rem;
}

.recoveryForm{
    background-color: #00ADB5;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 .5rem .5rem 0;
}

.recoveryForm_divColumn{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    margin-bottom: 3.5vh;
    position: relative;
}

.recoveryForm_div{
    display: flex;
    flex-flow: nowrap;
    margin-bottom: 3.5vh;
    width: 20vw;
}

.recoveryForm_divBorder{
    border-top: #ECECEC .15rem solid;
    width: 25vw;
    margin-bottom: 2vh;
}

.recoveryForm_text{
    font-size: 1.1rem;
    margin-left: .5vw;
    position: absolute;
    left: 0;
}

.recoveryForm_smallText{
    font-size: .95rem;
}

.recoveryForm_linkText{
    font-size: .95rem;
    margin-left: .5vw;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.recoveryForm_input{
    background-color: #ECECEC;
    border: none;
    border-radius: 7px;
    width: 20vw;
    height: 4vh;
    margin-top: 2.6vh;
    color: black;
    padding: 0 .4vw;
}

.recoveryForm_IniciarSesionnBtn{
    background-color: #ffffff;
    border: none;
    padding: .65rem 1.3rem;
    margin-bottom: 2vw;
    cursor: pointer;
}

.recoveryForm_RecoverySesionImg{
    width: 10rem;
    height: 1.5rem;
}

.recoveryDecorator{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5%;
    border-radius: .5rem 0 0 .5rem;
}

.recoveryDecorator_logo{
    width: 60%;
    height: 65%;
}

.recoveryDecorator_logoTxt{
    width: 70%;
    height: 15%;
}

